<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <title>Bate-papo {% if page_title is defined %} | {{ page_title }} {% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="shortcut icon" type="image/png" href="{{ asset('bundles/batepapobase/imagens/favicon.ico') }}">

    <link rel="stylesheet" href="{{ asset('bundles/batepapobase/libs/bootstrap/css/bootstrap.min.css') }}"
          type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/batepapobase/libs/metisMenu/metisMenu.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/batepapobase/libs/template/css/sb-admin-2.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/batepapobase/libs/morrisjs/morris.css') }}" type="text/css"/>
    <link rel="stylesheet"
          href="{{ asset('bundles/batepapobase/libs//bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}"
          type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/batepapobase/libs/font-awesome/css/font-awesome.min.css') }}"
          type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">
    {% include 'BatePapoBaseBundle::Layout/default.html.twig' %}
    <div id="page-wrapper">
        {% block body %}

        {% endblock %}
    </div>
</div>

<script src="{{ asset('bundles/batepapobase/libs/jquery/jquery.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/libs/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/libs/metisMenu/metisMenu.min.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/libs/raphael/raphael.min.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/libs/morrisjs/morris.min.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/libs/data/morris-data.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/libs/template/js/sb-admin-2.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/libs/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/libs/jquey-mask/jquery.mask.min.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/libs/jquey-mask/jquery.maskMoney.min.js') }}"></script>
<script src="{{ asset('bundles/batepapobase/scripts/app_form.js') }}"></script>
<script>
    var baseUrl = window.location.origin;
</script>

{% block javascripts %}{% endblock %}

</body>
</html>
